
.addCategoryTitle{
    border-radius: 7px 7px 0px 0px;
    font-size: 1.6rem !important;
    padding: 24px 20px;
    color: white;
    border-bottom: 1px solid linear-gradient(to right, #01a9ac, #01dbdf);
    background: linear-gradient(to right, #01a9ac, #01dbdf);
}
.requiredStar{
    color: #fe5d70 !important;
    font-size: 14px;
}
.catFieldsLabel{
    color: #353c4e;
    font-family: open sans, sans-serif;
    font-size: 15px;
}
.catTableHeader{
    border-radius: 7px 7px 0px 0px;
    font-size: 1rem !important;
    padding: 24px 20px;
    color: white;
    border-bottom: 1px solid linear-gradient(to right, #0ac282, #0df3a3);
    background: linear-gradient(to right, #0ac282, #0df3a3);
}
.buttonsOuterDiv{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    button{
        margin: 10px 0px 10px 12px;
    }
}
